{% extends 'blog/base.html' %}
{% block title %}
    {{ blog_name }}
{% endblock %}
{% block content %}
    <div class="jumbotron" style="background-color: #E7E7E7; color: black">
        <div class="container">
            <h1>{{ greeting.header }}</h1>

            <p>{{ greeting.body }}</p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            {% for article in articles %}
                <div class="col-md-4">
                    <h2><a href="/articles/{{ article.id }}">{{ article.title }}</a></h2>

                    <div class="row">
                        <div class="col-md-4">
                            <p><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                <small>{{ article.created_at }}</small>
                            </p>
                        </div>
                        <div class="col-md-8">
                            <p>Category: <a href="/articles/category/{{ article.category.id }}">
                                <small>{{ article.category }}</small>
                            </a></p>
                        </div>
                    </div>

                    <p>{{ article.preface }}</p>
                </div>
            {% endfor %}
        </div>
    </div>





{% endblock %}
